<div style="margin: 10px 20px 20px 0">
  <form [formGroup]="formGroup">

    <ion-item>
      <ion-input placeholder="Wpisz przedmiot" formControlName="name"></ion-input>
    </ion-item>
    
    <ion-item lines="none">
      <ion-range min="0" max="2" step="1" value="1" snaps [color]="chosenPriority" formControlName="priority">
        <ion-icon slot="start" size="small" [color]="chosenPriority" name="chevron-down-circle"></ion-icon>
        <ion-icon slot="end" [color]="chosenPriority" name="chevron-up-circle"></ion-icon>
      </ion-range>
    </ion-item>

    <ion-list>
      <ion-radio-group formControlName="kind">
        <ion-item>
          <ion-label>Jedzenie</ion-label>
          <ion-radio slot="start" value="food"></ion-radio>
        </ion-item>
        
        <ion-item>
          <ion-label>Kosmetyki</ion-label>
          <ion-radio slot="start" value="cosmetics"></ion-radio>
        </ion-item>
        
        <ion-item>
          <ion-label>Inne</ion-label>
          <ion-radio slot="start" value="other"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-item lines="none">
      <ion-button slot="end" size="small" 
        [disabled]="isAddButtonDisabled"
        (click)="addNewListItem()">Dodaj</ion-button>
    </ion-item>
  </form>
</div>
  