<div style="margin: 10px 20px 20px 0">

  <ion-item>
    <ion-input placeholder="Enter Input"></ion-input>
  </ion-item>

  <ion-item>
    <ion-range min="0" max="2" step="1" value="1" snaps color="danger" (ionChange)="valueChange($event)">
      <ion-icon slot="start" size="small" color="danger" name="thermometer"></ion-icon>
      <ion-icon slot="end" color="danger" name="thermometer"></ion-icon>
    </ion-range>
  </ion-item>
  <!-- <ion-list>
    <ion-radio-group value="biff">
      <ion-item>
        <ion-label>Biff</ion-label>
        <ion-radio slot="start" value="biff"></ion-radio>
      </ion-item>
      
      <ion-item>
        <ion-label>Griff</ion-label>
        <ion-radio slot="start" value="griff"></ion-radio>
      </ion-item>
      
      <ion-item>
        <ion-label>Buford</ion-label>
        <ion-radio slot="start" value="buford"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list> -->
</div>
  